In [1]:
from nowcasting_dataset.data_sources import PVDataSource
from pathlib import Path

In [2]:
BUCKET = Path('solar-pv-nowcasting-data')

# Solar PV data
PV_PATH = BUCKET / 'PV/PVOutput.org'
PV_DATA_FILENAME = PV_PATH / 'UK_PV_timeseries_batch.nc'
PV_METADATA_FILENAME = PV_PATH / 'UK_PV_metadata.csv'

In [3]:
pv = PVDataSource(
    filename=PV_DATA_FILENAME,
    metadata_filename=f'gs://{PV_METADATA_FILENAME}',
    start_dt="2018-06-01",
    end_dt="2019-12-31",
    history_len=0,
    forecast_len=1,
    image_size_pixels=128,
    meters_per_pixel=2_000)

15 bad systems found.

In [4]:
pv.pv_metadata

,system_name,system_size_watts,postcode,number_of_panels,panel_power_watts,panel_brand,num_inverters,inverter_power_watts,inverter_brand,orientation,...,install_date,latitude,longitude,status_interval_minutes,number_of_panels_secondary,panel_power_watts_secondary,orientation_secondary,array_tilt_degrees_secondary,location_x,location_y
system_id,,,,,,,,,,,,,,,,,,,,,
690,3.8kw of Power @ No3,3800,NaN,20,190,Phono Solar,1,4000,SMA Sunny Boy 4000,S,...,2010-12-01 00:00:00,52.087171,-0.263414,10,0,0,NaN,NaN,519081.797062,244624.588814
709,Grove Cottages,2460,RG4,12,205,Romag PowerGlaz SMT6(54)P,1,3000,SMA Sunny Boy 3000TL,SE,...,2010-09-28 00:00:00,51.485329,-0.967526,5,0,0,NaN,NaN,471787.717039,176769.311270
973,number38,4000,WA11,16,250,Sungrid/SG250M6,1,3800,Sunny Boy 3800,SW,...,2011-01-13 00:00:00,53.467927,-2.675806,5,0,0,NaN,NaN,355234.668955,397011.455862
1364,Bugs Bottom,3700,RG4,20,185,Sharp NU-185 (E1),1,3800,Diehl 3800S,S,...,2010-06-03 00:00:00,51.490415,-0.983276,5,0,0,NaN,NaN,470686.269807,177319.638416
1556,MK Solar Power Station,3870,MK5,18,215,Schuco,1,3800,SMA SB3800,SW,...,2011-02-18 00:00:00,52.020855,-0.780158,5,0,0,NaN,NaN,483801.671931,236528.191916
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68324,MySolarPV_MiltonKeynes,3360,MK13,14,240,Schï¿½co MPE 240 PS 04 EU,1,4000,SMA - SB 3000TLST-21,SE,...,NaN,52.050000,-0.780000,5,0,0,NaN,NaN,483758.101063,239769.900908
68404,BrookSolar,5440,PE28,8,320,LG320N1K-A5,1,5000,SE5000,S,...,2019-02-08 00:00:00,52.350000,-0.180000,5,9,320,E,40.0,524062.586730,273995.424298
68443,Winterbourne II,1340,TN34,4,335,LG NeOn2,1,1500,SolarEdge SE1500M,SE,...,2019-07-03 00:00:00,50.860000,0.580000,5,0,0,NaN,NaN,581671.100790,109892.133296
68800,Solar in Sevenoaks,6120,TN13,9,340,LG,9,295,Enphase IQ7,S,...,2019-07-17 00:00:00,51.270000,0.180000,5,9,340,EW,12.0,552173.265703,154573.332435
68846,Titley Gardens,3924,MK17,12,327,Sunpower E20 327,1,4000,SolarEdge SE4000,SE,...,NaN,51.990000,-0.700000,5,0,0,NaN,NaN,489363.203695,233191.849528

In [5]:
pv.pv_power

,690,709,973,1364,1556,1627,1646,1647,1872,1883,...,68000,68212,68218,68219,68303,68324,68404,68443,68800,68846
datetime,,,,,,,,,,,,,,,,,,,,,
2018-06-01 02:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01 02:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01 02:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01 02:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-01 02:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-20 21:40:00,NaN,NaN,0.002433,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
2019-08-20 21:45:00,NaN,NaN,0.002433,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
2019-08-20 21:50:00,NaN,NaN,0.002433,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
2019-08-20 21:55:00,NaN,NaN,0.002433,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
2019-08-20 22:00:00,NaN,NaN,0.002433,NaN,0.0,NaN,NaN,NaN,0.0,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN